In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
#one hot encode geogrAPHY
from sklearn.preprocessing import OneHotEncoder
oh_geo = OneHotEncoder()
geo_encoder = oh_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=oh_geo.get_feature_names_out(['Geography']))

In [7]:
data = pd.concat([data.drop('Geography', axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('loh_geo.pkl','wb') as file:
    pickle.dump(oh_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [13]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam',loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
log_dir='regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 99881.9531 - mae: 99881.9531 - val_loss: 98530.7266 - val_mae: 98530.7266
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 100379.9531 - mae: 100379.9531 - val_loss: 97029.3047 - val_mae: 97029.3047
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 97830.4062 - mae: 97830.4062 - val_loss: 93117.0078 - val_mae: 93117.0078
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 94052.2734 - mae: 94052.2734 - val_loss: 86596.8594 - val_mae: 86596.8594
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 86188.9297 - mae: 86188.9297 - val_loss: 78140.8984 - val_mae: 78140.8984
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77970.0547 - mae: 77970.0547 - val_loss: 69372.6875 - val_mae: 69372.6875
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 68254.0547 - mae: 68254.0547 - val_loss: 61691.7617 - val_mae: 61691.7617
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 60890.5742 - mae: 60890.5742 - val_loss: 56116.0234 - val_mae: 56116.0234
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 55114.8281 - mae: 55114.8281 - val_loss: 52861.6133 - val_mae: 52861.6133
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52386.5078 - mae: 52386.5078 - val_loss: 51490.1406 - val_mae: 51490.1406
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51522.0859 - mae: 51522.0859 - val_loss: 50979.6211 - val_mae: 50979.6211
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50639.9570 - mae: 50639.9570 - val_loss: 50801.4062 - val_mae: 50801.4062
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50309.4453 - mae: 50309.4453 - val_loss: 50716.5312 - val_mae: 50716.5312
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50850.4531 - mae: 50850.4531 - val_loss: 50657.2617 - val_mae: 50657.2617
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50428.1875 - mae: 50428.1875 - val_loss: 50606.4375 - val_mae: 50606.4375
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50230.5938 - mae: 50230.5938 - val_loss: 50569.6562 - val_mae: 50569.6562
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50248.6055 - mae: 50248.6055 - val_loss: 50529.0039 - val_mae: 50529.0039
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50395.0078 - mae: 50395.0078 - val_loss: 50485.4492 - val_mae: 50485.4492
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49686.7227 - mae: 49686.7227 - val_loss: 50453.9844 - val_mae: 50453.9844
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50052.5273 - mae: 50052.5273 - val_loss: 50436.8867 - val_mae: 50436.8867
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48893.0938 - mae: 48893.0938 - val_loss: 50405.2930 - val_mae: 50405.2930
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48874.5938 - mae: 48874.5938 - val_loss: 50393.8672 - val_mae: 50393.8672
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49986.1562 - mae: 49986.1562 - val_loss: 50372.7461 - val_mae: 50372.7461
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49606.3008 - mae: 49606.3008 - val_loss: 50347.6523 - val_mae: 50347.6523
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49452.2656 - mae: 49452.2656 - val_loss: 50337.2656 - val_mae: 50337.2656
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49733.6641 - mae: 49733.6641 - val_loss: 50322.5117 - val_mae: 50322.5117
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49433.9688 - mae: 49433.9688 - val_loss: 50305.5352 - val_mae: 50305.5352
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49709.3594 - mae: 49709.3594 - val_loss: 50297.8203 - val_mae: 50297.8203
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49212.5117 - mae: 49212.5117 - val_loss: 50290.7539 - val_mae: 50290.7539
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50143.3438 - mae: 50143.3438 - val_loss: 50282.5430 - val_mae: 50282.5430
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49285.3438 - mae: 49285.3438 - val_loss: 50270.9531 - val_mae: 50270.9531
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49934.7969 - mae: 49934.7969 - val_loss: 50260.3555 - val_mae: 50260.3555
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50230.0234 - mae: 50230.0234 - val_loss: 50254.2188 - val_mae: 50254.2188
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49451.7227 - mae: 49451.7227 - val_loss: 50252.3047 - val_mae: 50252.3047
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49609.3789 - mae: 49609.3789 - val_loss: 50257.2266 - val_mae: 50257.2266
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49725.2852 - mae: 49725.2852 - val_loss: 50253.3672 - val_mae: 50253.3672
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48848.8242 - mae: 48848.8242 - val_loss: 50253.0000 - val_mae: 50253.0000
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49701.1641 - mae: 49701.1641 - val_loss: 50238.5430 - val_mae: 50238.5430
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49307.0898 - mae: 49307.0898 - val_loss: 50242.3945 - val_mae: 50242.3945
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49442.1836 - mae: 49442.1836 - val_loss: 50236.1680 - val_mae: 50236.1680
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49604.5078 - mae: 49604.5078 - val_loss: 50226.5586 - val_mae: 50226.5586
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49553.1562 - mae: 49553.1562 - val_loss: 50230.6445 - val_mae: 50230.6445
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49046.1094 - mae: 49046.1094 - val_loss: 50231.8086 - val_mae: 50231.8086
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50283.1992 - mae: 50283.1992 - val_loss: 50234.6562 - val_mae: 50234.6562
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49299.9648 - mae: 49299.9648 - val_loss: 50234.6016 - val_mae: 50234.6016
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49394.8789 - mae: 49394.8789 - val_loss: 50221.4453 - val_mae: 50221.4453
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48898.8047 - mae: 48898.8047 - val_loss: 50230.7266 - val_mae: 50230.7266
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49982.5977 - mae: 49982.5977 - val_loss: 50231.3047 - val_mae: 50231.3047
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49053.2266 - mae: 49053.2266 - val_loss: 50229.0898 - val_mae: 50229.0898
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49595.6211 - mae: 49595.6211 - val_loss: 50229.1641 - val_mae: 50229.1641
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50018.7656 - mae: 50018.7656 - val_loss: 50236.6680 - val_mae: 50236.6680
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49844.7695 - mae: 49844.7695 - val_loss: 50220.7148 - val_mae: 50220.7148
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49772.8320 - mae: 49772.8320 - val_loss: 50224.4336 - val_mae: 50224.4336
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49339.3086 - mae: 49339.3086 - val_loss: 50231.0195 - val_mae: 50231.0195
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48854.0781 - mae: 48854.0781 - val_loss: 50220.8320 - val_mae: 50220.8320
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49737.8750 - mae: 49737.8750 - val_loss: 50224.4023 - val_mae: 50224.4023
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49620.4375 - mae: 49620.4375 - val_loss: 50233.2461 - val_mae: 50233.2461
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48895.8555 - mae: 48895.8555 - val_loss: 50232.3008 - val_mae: 50232.3008
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49814.1289 - mae: 49814.1289 - val_loss: 50235.2852 - val_mae: 50235.2852
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49276.9375 - mae: 49276.9375 - val_loss: 50236.4609 - val_mae: 50236.4609
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48761.0469 - mae: 48761.0469 - val_loss: 50221.4219 - val_mae: 50221.4219
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50008.5977 - mae: 50008.5977 - val_loss: 50229.3594 - val_mae: 50229.3594

In [17]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

In [21]:
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - loss: 51019.7734 - mae: 51019.7734
Test MAE: 50220.71484375

In [ ]:
model.save('regression_model.h5')